<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>Transcendence</title>
</head>
<body>
	<div>
        <p>Debug: Image URL is {{ user.avatar.url }}</p>
        <img src="{{ user.avatar.url }}" alt="{{ user.username }}'s avatar" style="width: 100px; height: 100px; object-fit: cover;">
    </div>
	<p>Bravo {{ user.username }} t'es log !</p>
    <p>Maintenant tu peux jouer</p>
    <a href="http://127.0.0.1:8000/onlinePong/">Pong</a>
	<a href="http://127.0.0.1:8000/user/edit_user/">Edit User</a>
    <a href="http://127.0.0.1:8000/pixelPaws/">PixelPaws</a>
	<a href="http://127.0.0.1:8000/user/history/">History</a>
</body>

</html>
