<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pongiste</title>
    <link rel="stylesheet" href="../static/onlinePong/style/main.css">
</head>
<body>
    <div id="infoP1">
    </div>
    <div id="canvasContainer">
        <canvas id="gameCanvas" width="800" height="600"></canvas>
        <script type="module" src="../static/onlinePong/src/main.js"></script>
    </div>
    <div id="infoP2">
    </div>
    <button id="buttonStart">Ready!</button>
</body>
</html>