<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pongiste</title>
    <link rel="stylesheet" href="../static/onlinePong/style/main.css">
</head>
<body>
    <div id="infoP1">
        <h1 id="p1-username" class="hidden">None</h1>
             <div id="p1-img" class="svg-container hidden">
                 <svg id="p1-waiting-animation" class="waiting icon hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 143.7 143.7">
                     <circle class="circle" fill="none" cx="71.8" cy="71.8" r="67.8"/>
                 </svg>
                 <svg id="p1-joined-animation" class="check-circle icon hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 143.7 143.7">
                     <circle class="circle" fill="none" cx="71.8" cy="71.8" r="67.8"/>
                     <path class="path" fill="none" d="M36.8,73.3l21.5,21.5c0.6,0.6,1.5,0.6,2.1,0l46.4-46.4"/>
                 </svg>
            </div>
        <h1 id="p1-status"></h1>
    </div>
    <div id="scoreContainer" class="score-container">
        <span id="scoreP1">0</span>
        <span id="scoreP2">0</span>
    </div>
    <div id="canvasContainer">
        <canvas id="gameCanvas" width="800" height="600"></canvas>
        <script type="module" src="../static/onlinePong/src/main.js"></script>
    </div>
    <div id="infoP2">
        <h1 id="p2-username" class="hidden">None</h1>
            <div id="p2-img"  class="svg-container hidden">
                <svg id="p2-waiting-animation" class="waiting icon hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 143.7 143.7">
                    <circle class="circle" fill="none" cx="71.8" cy="71.8" r="67.8"/>
                </svg>
                <svg id="p2-joined-animation" class="check-circle icon hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 143.7 143.7">
                    <circle class="circle" fill="none" cx="71.8" cy="71.8" r="67.8"/>
                    <path class="path" fill="none" d="M36.8,73.3l21.5,21.5c0.6,0.6,1.5,0.6,2.1,0l46.4-46.4"/>
                </svg>
            </div>
        <h1 id="p2-status"></h1>
    </div>
    <button id="buttonStart">Ready!</button>
</body>
</html>