<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Transcendence</title>
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <div>
        <p>Debug: Image URL is {{ user.avatar.url }}</p>
        <img src="{{ user.avatar.url }}" alt="{{ user.username }}'s avatar" style="width: 100px; height: 100px; object-fit: cover;">
    </div>
    <!-- <p>Bravo {{ user.username }} t'es log !</p> -->
	 <p id="username"></p>
    <p>Maintenant tu peux jouer</p>
    <a href="http://127.0.0.1:8000/onlinePong/">Pong</a>
    <a href="http://127.0.0.1:8000/user/edit_user/">Edit User</a>
    <a href="http://127.0.0.1:8000/pixelPaws/">PixelPaws</a>
    <a href="http://127.0.0.1:8000/user/history/">History</a>

    <!-- Section pour afficher les amis -->
    <div>
        <h3>Liste des amis :</h3>
        {% if friends %}
            <ul>
                {% for friend in friends %}
                    <li>
                        <img src="{{ friend.avatar.url }}" alt="{{ friend.username }}'s avatar" style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%;">
                        {{ friend.username }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Tu n'as pas encore d'amis. 😢</p>
        {% endif %}
    </div>
</body>
</html>