body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

#canvasContainer {
    display: none;
}

.score-container {
    position: absolute;
    top: 40%;
    left: 20%;
    right: 20%;
    display: none;
    justify-content: space-around;
    align-items: center;
    color: grey;
    font-family: Arial, sans-serif;
    z-index: 10;
}

#scoreP1, #scoreP2 {
    font-size: 100px;
}

#infoP1, #infoP2 {
    display: flex;
    width: 15%;
    position: absolute;
    top: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateY(-50%);
    border: solid 3px white;
    color: white;
    text-align: center;
    font-size: 24px;
    height: 30%;
}

#infoP1 {
    left: 2%;
    text-align: right;
}

#infoP2 {
    right: 2%;
    text-align: left;
}

#p1-img, #p2-img {
    display: none;
}

#p1-img:not(.hidden), #p2-img:not(.hidden) {
    display: block;
}

canvas {
    border: 1px solid #fff;
}

#countdown {
    font-size: 50px;
    text-align: center;
    margin-top: 20%;
    color: white;
}

.svg-container {
    width: 50px; /* Taille de l'icône, ajustable */
    height: 50px;
    margin: 10px auto;
}

#p1-waiting-animation, #p2-waiting-animation,
#p1-joined-animation, #p2-joined-animation {
    width: 100%;
    height: 100%;
}

.bounce-ball {
    animation: bounce 0.8s infinite ease-in-out;
}

.joined-animation {
    animation: joined 1s ease-out forwards;
}

/* Animation des balles rebondissantes */
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

/* Animation après que le joueur ait rejoint */
@keyframes joined {
    0% { opacity: 0; }
    100% { opacity: 1; transform: scale(1.5); }
}

.hidden {
    display: none;
}

.display {
    display: block;
}